/* 
	cosas por hacer:
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Bangers', cursive;
	background:linear-gradient(to bottom, rgb(0 0 0 / .1), rgb(0 0 0 / .5)), url("../assets/img/fondo3.jpg");
	background-size: auto;
	background-repeat: no-repeat;
}
h1{
	font-size: 60px;
	text-align: center;
	color: #FFF;
	padding: 0px;
	margin-bottom: 3%;
}
ul li{
	list-style-type: none;
}
ul li a{
	text-decoration: none;
}
span{
	color: #FFF;
}
.navbar-nav{
	background-color: black;
	padding: 2%;
}
			/* Especificos index */
.fondos-derecha{
	grid-area: 1 / 2 / 2 / 3;
	background-color: #A41D85;
	opacity: 40%;
}
.fondos-izquierda{
	grid-area: 1 / 1 / 2 / 2;
	background-color: #A41D85;
	opacity: 40%;
}					
.texto-derecha{
	grid-area: 1 / 2 / 2 / 3;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 22px;
	color: #FFF;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.texto-izquierda{
	grid-area: 1 / 1 / 2 / 2;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 22px;
	color: #FFF;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.img-index{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	background:linear-gradient(to bottom, rgb(0 0 0 / 1), rgb(0 0 0 / .5)), url("../assets/img/consola.jpg");
	background-size: cover;
	margin-bottom: 5%;
	overflow: hidden;
}

			/* Especificos footer */
footer{
	background-color: black;
}